{:paths ["src" "resources"]
 :deps
 {applied-science/js-interop {:mvn/version "0.3.3"}
  thheller/shadow-cljs       {:mvn/version "2.23.1"}}

 :aliases
 {:dev
  {:extra-deps
   {org.clojure/clojure       {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}}}

  :nextjournal/clerk
  {:extra-paths ["dev"]
   :extra-deps
   {io.github.nextjournal/clerk
    {:git/sha "5e875e256a28a6deabf27bd6fc20f44cee5dad20"}
    io.github.nextjournal/clerk.render
    {:git/url "https://github.com/nextjournal/clerk"
     :git/sha "5e875e256a28a6deabf27bd6fc20f44cee5dad20"
     :deps/root "render"}}
   :exec-fn user/build!}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
