{:paths ["src" "resources"]
 :deps
 {applied-science/js-interop {:mvn/version "0.3.3"}
  thheller/shadow-cljs       {:mvn/version "2.20.14"}}

 :aliases
 {:dev
  {:extra-deps
   {org.clojure/clojure       {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}}}

  :nextjournal/clerk
  {:extra-paths ["dev"]
   :extra-deps
   {io.github.nextjournal/clerk
    {:git/sha "6ee093d3b22eb278d412f2fe5946d2b34cf937b5"}
    io.github.nextjournal/clerk.render
    {:git/url "https://github.com/nextjournal/clerk"
     :git/sha "6ee093d3b22eb278d412f2fe5946d2b34cf937b5"
     :deps/root "render"}}
   :exec-fn user/build!}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.2" :git/sha "ba1a2bf"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
